* {
  box-sizing: border-box;
}
header {
	width: 960px;
	border-bottom: 2px solid #ccc;
}
body {
	width: 960px;
	background-image:url(../images/ignasi_pattern_s.png);
	border-top: 3px solid #ddd;
  	color: #777;
  	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  	line-height: 2;
  	overflow: auto;
}

h1,h2,h3,h4 {
  border-bottom: 2px solid #ccc;
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

h1 {
	font-size: 28px;
	 color: #fff;
}
h2 {
	background: #ffffff;
	font-size: 24px;
	
}
h3 {
	background: #ffffff;
	font-size: 24px;
	text-align: center;
	padding: 10px 10px 10px 10px;
}
h4 {
	background: #ffffff;
	color: #ffffff;
	font-size: 18px;
}
p {
	font-size: 18px;
	background: #ffffff;
}

ul {
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    display: inline;
}

li a {
    color: #777;
    text-align: right;
    padding: 5px 5px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


aside img {
  width: calc((100% - 10px) / 6);
  margin: 20px auto;
}

/* Heading container*/
.hcontainer {
	width: 960px;
	background: #ffffff;

}

.navbar {
	float: right;
	margin: 0px 200px 0px 0px;
}

/*Heading Floats*/
/* #square,
#h1name,
#square2,
#h2links {
	float: left;
}

/*SPACING*/    

/*#square {
	width: 10%;
}
#h1name {
	width: 20%;
}
#square2 {
	width: 25%;
}
#h2links {
	width: 25%;
}

.square {
	padding: 25px;
} */
.h1name {
	background-color: #4aaaa5;
  	color: #fff;
  	font-size: 34px;
  	font-weight: bold;
  	margin: 0px 0px 0px 100px;
  	padding: 30px;
  	text-align: center;
  	width: 300px;
  	
}

/* .square2 {
	padding: 20px;
}
.h2links {
	padding: 20px;
	text-align: left;
} */

/* Body container */

a {
	color: #777777;
}
.container {
	background: #ffffff;
	width: auto;
	margin: 0px;
	
}
#main-bio,
#contact-info,
#bio-image {
	float: left;
}
#main-bio {
	width: 40%;
	margin: 20px 20px 20px 135px;
	padding: 20px 50px 20px 20px

}
#contact-info {
	background: #ffffff;
	line-height: 150%;
	width: 30%;
	font-size: 24px;
	margin: 20px auto;
	padding: 20px 30px 60px 20px
}
#bio-image {
	height: 200px;
	margin-right: 30px 30px 30px 30px;
	padding: 20px 20px 20px 20px;
}

footer {
  clear: both;
  background-color: #666;
  border-top: 5px solid #4aaaa5;
  color: #ccc;
  padding: 30px;
  text-align: center;
}
/* postion styles*/ 	
/*#fixed {
	background: #eee;
	padding: 40px;
	text-align: center;
	margin: 0;
	top: 0;
	left: 0;
}
#relative {
	position: relative;
	background: #eee;
	padding: 20px;
	text-align: center;
	height: 200px;
}
#absolute {
	width: 250px;
	position: absolute;
	background: #999;
	bottom: 0;
	right: -30px;
	text-align: center;
}	*/
